@charset "UTF-8";

/* Exportação de Texto */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


/* Configurações Gerais */

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Playfair Display", serif;
    --font3: "Sriracha", serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcoral;
}

/* Área Header: Cabeçalho Principal */

header {              
    background-color: rgb(66, 63, 72);
    color: white;
    text-align: center;
    padding: 40px;    
}

header h1 {
    font-family: var(--font2);
    font-weight: bold;    
    letter-spacing: 10px;
}

/* Área main: Corpo da Página */

main {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

section {
    padding: 10px 0px;
}

section > h1 {
    min-height: 50px;        
    background-color: rgb(66, 63, 72);
    color: white;
    font-family: var(--font2);
    font-weight: bold;
    text-align: center;    
    padding: 10px;
    margin: 0px -15px;
    letter-spacing: 10px;    
}

section > p {
    font-family: var(--font3);
    padding: 15px 0px;
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
}

/* Área main: section.cabecalho002 */

section.cabecalho002 > a { 
    display: block;
    text-align: center;     
    padding: 20px;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

section.cabecalho002 > a:hover {
    color: darkred;
    text-decoration: underline;
}

/* Área main: section.cabecalho002 */

section.cabecalho002 > div#tabela {
    padding: 10px;
}

table {         
    font-size: 2em;
    border-collapse: collapse;
    width: 300px;
    text-align: center;    
    margin: auto;    
}

th, td {
    border: 1px solid black;    
}

/* Área main: section.cabecalho003 */

section.cabecalho003 > img {
    display: block;
    margin: auto;   
}

p > img {
    position: absolute;

    padding-bottom: 200px;
    margin-bottom: 200px;
}